/* @media (max-width: px) */
@media (max-width: 900px){
    .menus{
        display: none;
    }
    .burger{
        display: block;
        visibility: visible;
    }
}

@media (max-width: 475px){
    .cart,
    .search{
        display: none;
    }
    .login{
        display: none;
    }
}