/* @media (max-width: px) */
@media (max-width: 1130px) {
    .customer-text p {
        width: 100%;
        text-align: justify
    }

    .cus-title h2 {
        font-size: 40px;
    }
}

@media (max-width: 1050px) {
    .hero-row {
        flex-wrap: wrap;
        justify-content: left;
    }

    .hero-right {
        margin-top: 80px;
    }

    .service-row {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }

    .customer-row {
        flex-wrap: wrap;
    }

    .customer-text p {
        width: 485px;
    }

    .customer-right {
        margin-top: 50px;
    }
    .app-row{
        flex-wrap: wrap;
    }
    .footer-row{
        flex-wrap: wrap;
        row-gap: 30px; 
        column-gap: 30px;
        align-items: flex-start;  
    }
}

@media (max-width: 900px) {
    .menus {
        display: none;
    }

    .burger {
        display: block;
        visibility: visible;
    }
}

@media (max-width: 630px) {
    .hero-right img {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 55px;
    }

    .service-title h2 {
        font-size: 35px;
    }

    .customer-left img {
        width: 100%;
    }

    .customer-left .cus-shape {
        width: 350px;
        right: -50px;
        bottom: -110px;
    }
    .customer-text p {
        width: 100%;
        padding: 0 30px 0 0;
    }
}

@media (max-width: 530px) {
    .customer-left .cus-shape {
        width: 330px;
        right: -55px;
        bottom: -110px;
    }
}

@media (max-width: 475px) {

    .cart,
    .search {
        display: none;
    }

    .login {
        display: none;
    }
    .sidebar-content{
        display: block; 
    }
    .nav-cart,
    .nav-search{
        padding: 0 5px;
    }
    .hero-text p {
        width: 100%;
        text-align: justify;
    }

    .hero-title h1 {
        font-size: 35px;
        line-height: 40px;
        padding-top: 30px;
    }

    .hero-btns {
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: flex-end;
    }

    .bg-btn {
        margin-bottom: 30px;
    }

    .hero-subtitle {
        padding: 10px 15px;
    }

    .service-title h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .customer-text p {
        padding: 0;
    }
    .app-title h2{
        font-size: 35px;
        line-height: 40px;
    }
    .app-text p{
        width: 350px;
        text-align: justify; 
    }
    .shape1 {
        position: absolute;
        right: 90px;
        bottom: 565px;
    }
    .shape2 {
        position: absolute;
        right: 155px;
        bottom: 200px;
        z-index: 99;
    }
}